# Example .env.local file

# MongoDB connection string
DATABASE_URL= mongodb+srv://<username>:<password>@<cluster>/<database>

# JWT secret key
JWT_SECRET= xxxxxx

# Public URL
PUBLIC_URL= http://localhost:3000

# local port
PORT= 5001

#Cloudinary (file storage)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

STRIPE_SECRET_KEY=
